footer.footer
    .container

        div.footer__item.footer__item-copyright
            div.footer__copyright © 2018 «LoremIpsum.net» Все права защищены.

        div.footer__item.footer__item-pays
            div.footer__pay
                img(src="./images/pay-icon1.png")
                div.footer__pay-text Qiwi wallet
            div.footer__pay
                img(src="./images/pay-icon2.png")
                div.footer__pay-text Yandex Money
            div.footer__pay
                img(src="./images/pay-icon3.png")
                div.footer__pay-text Web Money  

        div.footer__item.footer__item-contact
            a(href="#").footer__contact
                img(src="./images/email-icon.png")
                div.footer__contact-text info@ipsum228.com
            a(href="#").footer__contact
                img(src="./images/vk-icon.png")
                div.footer__contact-text Мы вконтакте              
                                         
            
script(src='project.js')
