doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='stylesheet', href='project.css')
    body 
        header.header
            .container
                a(href="#").header__logo-wrapper
                    img(src="./images/logo.png").header__logo
                div.header__menu
                    a(href="#").header__link.active Бизнес
                    a(href="#").header__link О нас
                    a(href="#").header__link Цены
                    a(href="#").header__link Оформить заказ
                div.header__burger
                    div.header__burger-open
                        span.line1.line
                        span.line2.line
                        span.line3.line
            div.header__burger-list
                a(href="#").header__link.active Бизнес
                a(href="#").header__link О нас
                a(href="#").header__link Цены
                a(href="#").header__link Оформить заказ
            
