.subheader__wrapper
    .container
        .subheader__title <span> Lorem ipsum </span> dolor sit<br>amet consectetur <span> adipiscing </span>
        .subheader__info
            div.subheader__info-title At vero eos et accusamus et iusto odio dignissimos ducimus!
            div.subheader__info-row - Totam rem aperiam eaque ipsa
            div.subheader__info-row - Sit voluptatem accusantium doloremque laudantium
            div.subheader__info-row - Sed ut perspiciatis, unde omnis iste natus error
        .subheader__btns
            a(href="#").btn.subheader__makeorder-btn заказать
            a(href="#").btn.subheader__more-btn подробнее

        